<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render 'index' %>

<% if can? :create, Task %>
	<%= link_to t('.new', :default => t("helpers.links.new")),
		          new_task_path,
		          :class => 'btn btn-primary' %>
<% end %>
